@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3 {
  @apply font-bold text-neutral-700 dark:text-neutral-300;
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

* {
  @apply dark:border-neutral-700;
}

.article ul {
  @apply pl-5 list-disc space-y-2 mt-4;
}

blockquote {
  @apply my-4 pl-4 border-l-4 opacity-75;
}

code {
  @apply bg-neutral-200 dark:bg-neutral-800 border rounded px-1;
}

code::before {
  content: "`";
}

code::after {
  content: "`";
}

/*Scrollbars*/
body {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  overflow: -moz-scrollbars-none; /* old mozilla */
}
::-webkit-scrollbar {
  display: none;
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

label {
  @apply font-bold text-base;
}

/* Chrome Autocomplete input bg fix */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
